body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}
ul {
    list-style: none;
}
.hero-btn {
    cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
.nav-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
}
.section-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
}
.card-subtitle {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.section-team {
    background-color: #F4F4FD;
}
.team-card {
    
    background-color: white;
}
.card-text {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-web {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16;
        color: #4D5AE5;
}
.page-footer {
    background-color: #2E2F42;
}
.footer-text {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.contacts-link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
.footer-logo-web{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: #F4F4FD;
    text-transform: uppercase;
    text-decoration: none;
}